@CHARSET "ISO-8859-1";

.usuario_logado {
  background: url(ui-icon ui-icon-person) no-repeat top right;
  font-size: 12px;
  text-align: right;
  position: absolute;
  top: 50px;
  right: 210px;
  color: #333333;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

body {
  color: #333333;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.container {
  margin: 0 auto;
  width: 940px;
}

header {
  position: relative;
}